# Entorno virtual
hipporag-env/
# SURE
SURE/datasets/
SURE/__pycache__/
SURE/functions/__pycache__/
SURE/functions_openllm/
SURE/src_con/
SURE/pref_eval.ipynb
SURE/rerank.ipynb
SURE/query_gpt.py 
SURE/query_openllm.py
SURE/README.md
SURE/requirements.txt
SURE/retrieve.py
SURE/utils.py

# HIPPO-RAG
HippoRAG/reproduce/
HippoRAG/CONTRIBUTING.md
HippoRAG/README.md
HippoRAG/requirements.txt
HippoRAG/utils.py
